modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
API_SPORTS_KEY = "3ec255b133882788e32f6349eff77b21"
ADMIN_PASSWORD = "123Jamie88"
SBETS_TOKEN_ADDRESS = "0x6a4d9c0eab7ac40371a7453d1aa6c89b130950e8af6868ba975fdd81371a7285::sbets::SBETS"
ADMIN_WALLET_ADDRESS = "0x747c44940ec9f0136e3accdd81f37d5b3cc1d62d7747968d633cabb6aa5aa45f"
REVENUE_WALLET_ADDRESS = "0x2046d57743f3cd8d7036671fdc1cbf3e45a8bc52bae473530266cd76b7cf7592"
PLATFORM_REVENUE_WALLET = "0x20850db591c4d575b5238baf975e54580d800e69b8b5b421de796a311d3bea50"
BETTING_PACKAGE_ID = "0xf8209567df9e80789ec7036f747d6386a8935b50f065e955a715e364f4f893aa"
BETTING_PLATFORM_ID = "0x5fe75eab8aef1c209e0d2b8d53cd601d4efaf22511e82d8504b0f7f6c754df89"
SUI_NETWORK = "mainnet"

[agent]
integrations = ["javascript_openai_ai_integrations:1.0.0"]
